Tugas 4 Implementasi AI untuk Manajemen SDM.json
{
  "name": "Tugas 4 Implementasi AI untuk Manajemen SDM",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4199f4ed-4310-4ec5-a2c7-c6fc1e22a002",
      "name": "Telegram Trigger",
      "webhookId": "f73d44f1-2778-4246-9012-205abe9152c8",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7f13a319-f41d-41a3-bc93-e18813017fa9",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6276a4c7-ea8a-447b-bdea-3daa04aa7f6f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b089ed97-ef68-4833-ba19-a7ef4d1875ab",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d12a7614-b944-4c45-afab-303c878fb2b5",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "89e9a3e5-f502-4829-b26b-5de76700c7ac",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "b5ed83e7-d996-4083-b192-c30b17e9234a",
      "name": "Memastikan Sesuai Format"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n- Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n- Jawaban HARUS diambil dari hasil tool.\n- DILARANG menggunakan pengetahuan umum.\n- Jika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        -16
      ],
      "id": "198b72fc-aec6-47a3-a29b-27001dff6026",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        688,
        208
      ],
      "id": "1b78351b-951a-42dc-9b21-54de0a788be4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QaSGWzJdHzqdLisa",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bUR7icn87KhSBbJeZUmUP4r2vS_KiXA8jI5JGrM_pMA",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bUR7icn87KhSBbJeZUmUP4r2vS_KiXA8jI5JGrM_pMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bUR7icn87KhSBbJeZUmUP4r2vS_KiXA8jI5JGrM_pMA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        832,
        208
      ],
      "id": "9a3d36f8-49b2-4832-a3d8-65f1aec4caca",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MW4Sh1QpZyXfPhHP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1237938448",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:  \n1. Bagaimana prosedur reimbursement? \n2. Prosedur pengajuan cuti tahunan \n3. Bagaimana aturan lembur di perusahaan? \n4. Apa syarat klaim asuransi kesehatan? \n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        192
      ],
      "id": "1ec8d79c-11d2-4da3-b165-7110bbdc631a",
      "name": "False Output",
      "webhookId": "c0f410f9-6b8b-4dd4-b25e-c5657d4e30b1",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -16
      ],
      "id": "b86f7531-e4a9-4267-9832-cda6ea23ff41",
      "name": "True Output",
      "webhookId": "fc781c5d-8331-4cbf-ae0b-67f00b45cf33",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Memastikan Sesuai Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memastikan Sesuai Format": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f554075b-3523-45e2-aa28-cfacfc29d9bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "635aa7bef16c2133fbff3d7a56689c43f0f714234acce1d99ba494fca75abeb1"
  },
  "nodeGroups": [],
  "id": "QyWzZs7yCF9WElRI",
  "tags": []
}