Tugas 6 Implementasi AI untuk Manajemen SDM.json
{
  "name": "Tugas 6 Implementasi AI untuk Manajemen SDM",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Formullir Pengajuan Cuti",
        "formDescription": "Silahkan isi detail cuti Anda. Pastikan tanggal sesuai.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Karyawan",
              "placeholder": "contoh: test@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Jenis Cuti",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cuti Tahunan"
                  },
                  {
                    "option": "Cuti Sakit"
                  },
                  {
                    "option": "Cuti Tanpa Bayaran"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Mulai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Selesai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Alasan/Keterangan",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "f79603e2-2063-4f9e-b310-eac22fe11404",
      "name": "Formullir Pengajuan Cuti",
      "webhookId": "4f81e68c-45b8-4185-9853-0cb709a7f0c1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ulJAgvkB-AYQ4ngQjO73xhxrAH-ETLxnYovg29TKg1M",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ulJAgvkB-AYQ4ngQjO73xhxrAH-ETLxnYovg29TKg1M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ulJAgvkB-AYQ4ngQjO73xhxrAH-ETLxnYovg29TKg1M/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "74080073-fcf1-4356-b704-2eba7df49cdf",
      "name": "Baca Sheet DB_Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MW4Sh1QpZyXfPhHP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil Data dari Node Google Sheets (Input node ini)\n// Asumsi: Node Google Sheets mengembalikan 1 item (data karyawan ybs)\nconst employeeData = items[0].json;\n\n// 2. Ambil Data dari Node Form (Node sebelumnya)\n// Pastikan nama Node Form di dalam kurung $('...') SAMA PERSIS dengan nama node Anda\nconst formData = $('Formullir Pengajuan Cuti').first().json;\n\n// 3. Proses Tanggal menggunakan Luxon (LANGSUNG DIPAKAI)\n// Pastikan field di form Anda benar: \"Tanggal Mulai\" dan \"Tanggal Selesai\"\nconst start = DateTime.fromISO(formData[\"Tanggal Mulai\"]);\nconst end = DateTime.fromISO(formData[\"Tanggal Selesai\"]);\n\n// Hitung durasi (selisih hari + 1 agar inklusif)\nconst durationInDays = end.diff(start, 'days').days + 1;\n\n// 4. Logika Validasi Saldo\n// Pastikan kolom di Google Sheet bernama \"Saldo_Cuti\"\nconst currentBalance = parseInt(employeeData[\"Saldo_Cuti\"]); \nconst hasEnoughBalance = currentBalance >= durationInDays;\n\n// Generate ID Unik (Gabungan waktu + random biar tidak kembar)\nconst uniqueId = 'REQ-' + Date.now(); \n\nreturn [\n  {\n    json: {\n      ...employeeData,\n      ...formData,\n      durationRequested: durationInDays,\n      isApprovedSystem: hasEnoughBalance,\n      message: hasEnoughBalance ? \"Saldo Cukup\" : \"Saldo Tidak Cukup\",\n      requestId: uniqueId // <--- Field Baru\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "46221677-eb29-4a05-b841-df17c65031be",
      "name": "Validasi Cuti"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ulJAgvkB-AYQ4ngQjO73xhxrAH-ETLxnYovg29TKg1M",
          "mode": "list",
          "cachedResultName": "Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ulJAgvkB-AYQ4ngQjO73xhxrAH-ETLxnYovg29TKg1M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 637903758,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ulJAgvkB-AYQ4ngQjO73xhxrAH-ETLxnYovg29TKg1M/edit#gid=637903758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $json.requestId }}",
            "Timestamp": "={{ $json.submittedAt }}",
            "Email_Karyawan": "={{ $json['Email Karyawan'] }}",
            "Jenis_Cuti": "={{ $json['Jenis Cuti'] }}",
            "Tanggal_Selesai": "={{ $json['Tanggal Selesai'] }}",
            "Tanggal_Mulai": "={{ $json['Tanggal Mulai'] }}",
            "Durasi": "={{ $json.durationRequested }}",
            "Alasan": "={{ $json['Alasan/Keterangan'] }}",
            "Status": "=Pending"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "7eb1a149-69cb-425c-8ca0-5ee9201efccf",
      "name": "Update Sheet Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MW4Sh1QpZyXfPhHP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3075302e-9d50-41c4-a036-7d63b9a5f0f8",
              "leftValue": "={{ $('Validasi Cuti').item.json.isApprovedSystem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "adecaa4a-0a4d-4f91-8d9a-a3ee01f9c0d4",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formullir Pengajuan Cuti').item.json['Email Karyawan'] }}",
        "subject": "Pengajuan Cuti Ditolak - Saldo Tidak Cukup",
        "message": "=Halo ,{{ $('Validasi Cuti').item.json.Nama_Lengkap }}\n\nPengajuan cuti Anda untuk tanggal {{ $('Validasi Cuti').item.json['Tanggal Mulai'] }} s/d {{ $('Validasi Cuti').item.json['Tanggal Selesai'] }} DITOLAK secara otomatis oleh sistem.  \n\nAlasan: Sisa saldo cuti Anda ({{ $json.Saldo_Cuti }} hari) tidak mencukupi untuk pengajuan {{ $('Validasi Cuti').item.json.durationRequested }} hari.  \n\nSalam, \nHR Bot",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        128
      ],
      "id": "0be7ea34-69d1-414a-9f27-4f2e3fcc1dc5",
      "name": "Email Cuti Tidak Cukup",
      "webhookId": "82da8a86-194b-47a7-b4ec-cbe0da58552d",
      "credentials": {
        "gmailOAuth2": {
          "id": "1uOm95pO5VOuMcAp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validasi Cuti').item.json.Manager_Email }}",
        "subject": "=Permohonan {{ $('Validasi Cuti').item.json['Jenis Cuti'] }}",
        "message": "=<p>Halo Manager,</p>\n\n<p>Ada pengajuan cuti baru yang membutuhkan persetujuan Anda:</p>\n\n<ul>\n  <li><strong>Nama:</strong> {{ $('Validasi Cuti').item.json.Nama_Lengkap }}</li>\n  <li><strong>Email:</strong> {{ $('Validasi Cuti').item.json['Email Karyawan'] }}</li>\n  <li><strong>Tanggal:</strong> {{ $('Validasi Cuti').item.json['Tanggal Mulai'] }} s.d {{ $('Validasi Cuti').item.json['Tanggal Selesai'] }}</li>\n  <li><strong>Total Durasi:</strong> {{ $('Validasi Cuti').item.json.durationRequested }} Hari</li>\n  <li><strong>Alasan:</strong> {{ $('Validasi Cuti').item.json['Alasan/Keterangan'] }}</li>\n</ul>\n\n<p>Silakan klik keputusan Anda:</p>\n\n<p>\n  <a href=\"https://n8n-production-cc2e.up.railway.app/webhook/approval-handler?status=approved&email={{ $('Validasi Cuti').item.json['Email Karyawan'] }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\" \n     style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; margin-right: 15px; display: inline-block;\">\n     ✅ SETUJUI\n  </a>\n\n  <a href=\"https://n8n-production-cc2e.up.railway.app/webhook/approval-handler?status=rejected&email={{ $('Validasi Cuti').item.json['Email Karyawan'] }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\" \n     style=\"background-color: #f44336; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n     ✖️ TOLAK\n  </a>\n</p>\n\n<p><small>Link ini menggunakan environment TEST. Pastikan n8n workflow 'Approval Handler' sedang aktif (Execute) saat diklik.</small></p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -128
      ],
      "id": "adb17c07-f3fd-428f-8dc6-58ff1b4216d8",
      "name": "Email Diterima",
      "webhookId": "82da8a86-194b-47a7-b4ec-cbe0da58552d",
      "credentials": {
        "gmailOAuth2": {
          "id": "1uOm95pO5VOuMcAp",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Formullir Pengajuan Cuti": {
      "main": [
        [
          {
            "node": "Baca Sheet DB_Karyawan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Sheet DB_Karyawan": {
      "main": [
        [
          {
            "node": "Validasi Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Cuti": {
      "main": [
        [
          {
            "node": "Update Sheet Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Log": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Email Diterima",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Cuti Tidak Cukup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "baf5db57-103b-4a86-8344-e87e78109351",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "635aa7bef16c2133fbff3d7a56689c43f0f714234acce1d99ba494fca75abeb1"
  },
  "nodeGroups": [],
  "id": "1nk0lhqgQeoEvClv",
  "tags": []
}