Tugas 1 Implementasi AI untuk Manajemen SDM.json
{
  "name": "Tugas 1 Implementasi AI untuk Manajemen SDM",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat Datang di Perusahaan, {{ $json.sheet['Full Name'] }}",
        "message": "=Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }},\n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.\n\nBerikut daftar tugas onboarding Anda:\n<ul>\n<li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li>\n</ul>\n\nJika ada pertanyaan, reply email ini.\n\nSalam,\nTim HR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "c6297d1e-52e2-4865-b622-842966034355",
      "name": "Send a message",
      "webhookId": "d68fad57-2c40-4483-b9d9-939ba165f9ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "1uOm95pO5VOuMcAp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "12WBF-b4JTYL505IaMFnHwlfqH9Y7D5ibdMzfCaNZHtc",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12WBF-b4JTYL505IaMFnHwlfqH9Y7D5ibdMzfCaNZHtc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 471423979,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12WBF-b4JTYL505IaMFnHwlfqH9Y7D5ibdMzfCaNZHtc/edit#gid=471423979"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e220fd56-7356-4567-ab8e-a2287d167a02",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "PNDjwIID5EgBHXcs",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae524ddf-5b4e-46bd-ac0b-88bc54dbf5a3",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "65230190-7922-4ad7-b0e4-da6d6706c10d",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "53965cc2-9bf1-4f5f-9f8f-2e7d532fede4",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "3d619d93-10e7-422e-89c0-078008796ac7",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "46222073-268c-4b99-8cac-afab3653c964",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "string"
            },
            {
              "id": "9e43991f-88fc-47d4-8f9c-f6983f9f99c2",
              "name": "position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "dcbc7de3-48b4-41b2-ad3e-c842357d98b0",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "6a2d0b370f8e0c8a0d68ac18",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "557add49-ad85-4b17-a56f-c9e1a40986a5",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "QZzPIVPXcgNbk5gm",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12WBF-b4JTYL505IaMFnHwlfqH9Y7D5ibdMzfCaNZHtc",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12WBF-b4JTYL505IaMFnHwlfqH9Y7D5ibdMzfCaNZHtc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2042050720,
          "mode": "list",
          "cachedResultName": "Checklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12WBF-b4JTYL505IaMFnHwlfqH9Y7D5ibdMzfCaNZHtc/edit#gid=2042050720"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "f5ddcc14-c1d4-47b5-a298-29f7d2f7c6d7",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MW4Sh1QpZyXfPhHP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "6a2d1027d1466ce4aeafde04",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "8beb1311-ab0d-489a-8609-8c912760f3df",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "QZzPIVPXcgNbk5gm",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "9c9e83be-b0dd-44dc-aa2c-ecdb1850de9e",
      "name": "Gabung jadi 1"
    }
  ],
  "pinData": {},
  "connections": {
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Gabung jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung jadi 1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9519a133-4c10-4d54-98c4-0163b6256f76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "635aa7bef16c2133fbff3d7a56689c43f0f714234acce1d99ba494fca75abeb1"
  },
  "nodeGroups": [],
  "id": "IyTl2uIUUf0dwTVt",
  "tags": []
}