Tugas 5 Implementasi AI untuk Manajemen SDM.json
{
  "name": "Tugas 5 Implementasi AI untuk Manajemen SDM",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e00fda51-9a2d-402f-878e-5b9af0a262bf",
      "name": "Telegram Trigger",
      "webhookId": "68cbf1be-b651-4c06-9f5e-392d4ff2ded4",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "fbebefbd-c233-4684-b244-353bb6ef63df"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0340224b-8c2e-4021-9c52-47c82c0bc872",
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "46de1235-f8d3-4957-b2bb-af3925d19229",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c72a3f3e-433a-4ae9-b5b8-4f8c95e09e1f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -16
      ],
      "id": "4551dd80-30f4-4bba-917f-9dd877a82a46",
      "name": "Periksa Pesan"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Untuk memulai percakapan, harap ketik /start",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        64
      ],
      "id": "90f9e7c3-90c1-4ad0-a4a4-892b75a3b041",
      "name": "False Output",
      "webhookId": "c416c99e-3494-4c99-a6bc-5cbdecde91b7",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Selamat datang di Asisten SOP AI For Business! Anda bisa bertanya melalui tombol dibawah ini.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        -112
      ],
      "id": "5ab2326b-8733-4e76-b010-245c594af501",
      "name": "True Output",
      "webhookId": "6fe34f10-89e4-40e0-951f-94850fd55a4a",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6f505f8-0644-4258-b0f6-8af7e45048b3",
              "name": "reimbursement",
              "value": "=Karyawan harus mengisi formulir, melampirkan bukti bayar asli, dan menyerahkannya ke manajer. Pembayaran akan diproses dalam 14 hari kerja.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        272
      ],
      "id": "add17982-b98a-4452-b8b5-b4428e91c574",
      "name": "Reimbursement"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51c508fd-9263-41f0-832d-46c6cc3f4e51",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        272
      ],
      "id": "0a77b2f1-ab11-4fb6-ab92-c63e9ce7d223",
      "name": "True Reimbursement"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.reimbursement }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        256
      ],
      "id": "f6736b2f-3675-41a6-8bb2-2d83dc81803d",
      "name": "True Reimbursement1",
      "webhookId": "6fe34f10-89e4-40e0-951f-94850fd55a4a",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dabad02b-d9f6-468b-9b26-77d580b2c229",
              "name": "cuti",
              "value": "=Karyawan harus mengajukan cuti melalui portal HRD setidaknya 2 minggu sebelum tanggal cuti.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        528
      ],
      "id": "0a32b1c2-4fa9-465f-8ef1-029b7f279825",
      "name": "Cuti"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9fb9c50-4d90-4c81-9292-a8ba65900e13",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "cuti",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        528
      ],
      "id": "e44e08ae-144e-4de4-944f-4f144cf6d36d",
      "name": "true cuti"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.cuti }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        512
      ],
      "id": "581acf21-93d3-4361-99c9-1e449247529a",
      "name": "True Cuti",
      "webhookId": "6fe34f10-89e4-40e0-951f-94850fd55a4a",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dabad02b-d9f6-468b-9b26-77d580b2c229",
              "name": "lembur",
              "value": "=Lembur harus mendapat persetujuan atasan terlebih dahulu. Perhitungan lembur mengikuti ketentuan UU Ketenagakerjaan dan dibayarkan pada periode gaji berikutnya.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        784
      ],
      "id": "b2ac16fe-eca4-4009-abf2-43318c87f5d7",
      "name": "Lembur"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9fb9c50-4d90-4c81-9292-a8ba65900e13",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "lembur",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        784
      ],
      "id": "302b93c4-d428-4526-9cbc-286f2a860fdb",
      "name": "true lembur"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.lembur }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        768
      ],
      "id": "09bd2d26-75a5-404f-ae44-91773e923aff",
      "name": "True Lembur",
      "webhookId": "6fe34f10-89e4-40e0-951f-94850fd55a4a",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dabad02b-d9f6-468b-9b26-77d580b2c229",
              "name": "asuransi",
              "value": "=Karyawan wajib membawa kartu asuransi, mengisi formulir klaim, dan melampirkan kwitansi serta diagnosa dari dokter.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        1040
      ],
      "id": "da4e1063-1c5c-41b7-9886-80c8bf7a7b73",
      "name": "Asuransi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9fb9c50-4d90-4c81-9292-a8ba65900e13",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "asuransi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        1040
      ],
      "id": "9cb0f586-febf-4998-af81-7715140c1285",
      "name": "true asuransi"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.asuransi }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        1024
      ],
      "id": "2e2f8b7e-3437-4837-a99f-311fce1e6c3e",
      "name": "True Asuransi",
      "webhookId": "6fe34f10-89e4-40e0-951f-94850fd55a4a",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dabad02b-d9f6-468b-9b26-77d580b2c229",
              "name": "alat_kerja",
              "value": "=Karyawan mengajukan permintaan melalui sistem inventaris, menunggu persetujuan supervisor, dan bagian GA akan memproses pembelian.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        1280
      ],
      "id": "08a0f857-ee44-4777-aa5b-8979444dc742",
      "name": "Alat Kerja"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9fb9c50-4d90-4c81-9292-a8ba65900e13",
              "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
              "rightValue": "alat_kerja",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        1280
      ],
      "id": "7ee3f86d-08a9-4367-afa2-380e3b172453",
      "name": "true alat kerja"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "={{ $json.alat_kerja }}\n\nMau bertanya apalagi?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        1264
      ],
      "id": "e2ae41dc-1dcc-4593-8175-c7598767bbbd",
      "name": "True Alat Kerja",
      "webhookId": "6fe34f10-89e4-40e0-951f-94850fd55a4a",
      "credentials": {
        "telegramApi": {
          "id": "HRuCzVKBUdOI6ja5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Periksa Pesan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periksa Pesan": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reimbursement": {
      "main": [
        [
          {
            "node": "True Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Reimbursement": {
      "main": [
        [
          {
            "node": "True Reimbursement1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti": {
      "main": [
        [
          {
            "node": "true cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true cuti": {
      "main": [
        [
          {
            "node": "True Cuti",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembur": {
      "main": [
        [
          {
            "node": "true lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true lembur": {
      "main": [
        [
          {
            "node": "True Lembur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asuransi": {
      "main": [
        [
          {
            "node": "true asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true asuransi": {
      "main": [
        [
          {
            "node": "True Asuransi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alat Kerja": {
      "main": [
        [
          {
            "node": "true alat kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true alat kerja": {
      "main": [
        [
          {
            "node": "True Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "16d8edff-d4fa-4da3-98d3-be4d7d57a7ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "635aa7bef16c2133fbff3d7a56689c43f0f714234acce1d99ba494fca75abeb1"
  },
  "nodeGroups": [],
  "id": "x6BHVOKjpYK5BjX9",
  "tags": []
}